<h1>會員升級方案</h1>

<ul>
	<li>
		<%= link_to "Plan A (#{ENV['plan_a_price']} 元)", payment_path(plan: 'a') %>
	</li>
	<li>
		<%= link_to "Plan B (#{ENV['plan_a_price']} 元)", payment_path(plan: 'b') %>
	</li>
</ul>
